{% extends 'base.html' %}

{% block title %}About Us - SmartKitchenGreen{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">About Us</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>
                SmartKitchenGreen is an innovative application designed to revolutionize kitchen and garden management.
                Our platform seamlessly integrates kitchen inventory management, recipe recommendation, and garden planning,
                empowering users to optimize their household routines for a more sustainable lifestyle.
            </p>
            <p>
                At SmartKitchenGreen, we are committed to creating solutions that simplify daily tasks while promoting eco-friendly practices.
                With our comprehensive platform, users can efficiently manage their kitchen inventory, receive recipe suggestions based on available ingredients,
                and plan their garden for optimal growth and productivity.
            </p>
            <p>
                Our mission is to empower individuals to make informed decisions about their food consumption and gardening practices,
                ultimately contributing to a greener, healthier planet.
            </p>
        </div>
    </div>
</div>
{% endblock %}
