{% extends 'base.html' %}

{% block title %}Home - SmartKitchenGreen{% endblock %}

{% block content %}
<div class="jumbotron text-center" style="background-color: #4caf50; color: white;">
    <h1 class="display-4">Welcome to SmartKitchenGreen</h1>
    <p class="lead">Streamline your kitchen and garden management for a greener lifestyle.</p>
</div>

<div class="container">
    <section id="abstract" class="my-5">
        <h2>Abstract</h2>
        <p>
            SmartKitchenGreen is an innovative app designed to merge kitchen and garden management into a unified, environmentally-friendly process. It enhances kitchen efficiency by scanning the products, managing the user’s grocery list, reducing waste with expiry date alerts, connects kitchen appliance and suggests recipe videos based on existing supplies. For gardening enthusiasts, it provides tools for organizing vegetable plots and maintaining plant care schedules and suggest the best suited plants in specific season. This comprehensive platform simplifies household management while promoting sustainability, enabling users to optimize their food usage and gardening practices for a greener lifestyle.
        </p>
    </section>

    <section id="introduction" class="my-5">
        <h2>Introduction</h2>
        <p>
            SmartKitchenGreen is a comprehensive app for transforming kitchen and garden management into a seamless, eco-friendly experience. It streamlines your kitchen by helping you manage inventory by scanning items, avoid food wastage through expiry date notifications, and discover recipes based on what you already have. For your garden, it aids in planning your vegetable plots and taking plant care. This all-in-one solution not only simplifies your life but also supports sustainable living habits by ensuring you make the most of your food and garden.
        </p>
    </section>

    <section id="modules" class="my-5">
        <h2>Modules</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Module 1: Registration and User Login</h4>
                <p>Users sign up using their email and setting a password, creating a personal profile. Once registered, users log in to access and manage their kitchen and garden data.</p>
            </li>
            <li class="list-group-item">
                <h4>Module 2: Integrated Grocery Assistant</h4>
                <p>This module allows users to keep a detailed list of all kitchen items, including perishables and non-perishables, by scanning the items or storing them using voice system in case they are unable to be scanned. It helps in keeping the kitchen organized by tracking what items are available, and their expiry dates.</p>
            </li>
            <li class="list-group-item">
                <h4>Module 3: Expiry Date Notifications</h4>
                <p>To minimize food waste, the app alerts users about products that are nearing their expiry dates, prompting them to use these items first. This proactive notification system helps to avoid unnecessary waste.</p>
            </li>
            <li class="list-group-item">
                <h4>Module 4: Kitchen Appliance</h4>
                <p>Connects user with their kitchen appliance. Pick the appliance you're using, and you'll get helpful tips and useful info about it.</p>
            </li>
            <li class="list-group-item">
                <h4>Module 5: Recipe Recommender</h4>
                <p>Based on the current inventory, the app suggests recipe videos to users using Artificial Intelligence, encouraging them to make the most of what they already have. This not only fosters creativity in cooking but also further reduces food waste by utilizing items that might otherwise expire.</p>
            </li>
            <li class="list-group-item">
                <h4>Module 6: Vegetable Garden Planning</h4>
                <p>Users can plan their vegetable garden and plant arrangement using APIs recommendations where they can decide when and which vegetable to plant for best growth according to specific season.</p>
            </li>
            <li class="list-group-item">
                <h4>Module 7: Digital Care Calendar</h4>
                <p>The app provides a calendar using APIs to oversee garden’s progress and maintenance tasks.</p>
            </li>
            <li class="list-group-item">
                <h4>Module 8: Plant Care Information</h4>
                <p>Users can access detailed information about their plants’ care requirements, including watering schedules and nutrition needs. With the help of APIs it offers advice and recommendations to users to take better care of their gardens, ensuring plant health and productivity.</p>
            </li>
        </ul>
    </section>
</div>
{% endblock %}
